#baby_spiders{
    background-color: #fffacd;
    font-family: 'Lucida Sans Unicode';
}

#beds{
    background-color: #fffacd;
    font-family: 'Lucida Sans';
}

#powerful_squirrels{
    background-color: #fffacd;
    font-family: sans-serif;
}

